.todoListBody {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.list-group {
    width: 50vh;
    padding-top: 20px;
}

.list-group-item {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.list-group-item:hover .x-container {
    display: inline-flex;
}

.x-container{
    display: none;
}

.fa-trash-can {
    color: black;

}
.fa-trash-can:hover {
    color: red;
}

.btn-div {
    display: inline-flex;
    justify-content: space-evenly;
    align-items:center;
    padding: 5px;
    
}